html{
  background: #282828;
  margin: 0;
}
body{
  margin: 0%;
}
#header{
  text-align: center;
  box-shadow: .1px 3px cyan;
  background: #282828;
}
#title{
  font-size: 38px;
  text-shadow: 2px 2px 1px darkgray;
  font-family: 'Brush Script MT';
  color: #FFF;
  
  margin: 0%;
}
#mainNews{
  height: 200px;
  width: auto;
  
  margin: 10px;
  border: 3px solid white;
  border-radius: 5px;
  
  background: #fff;
  
  box-shadow: 3px 3px 5px lightgray;
}
#mnDes{
  text-align: center;
}
#mnImg{
  height: 100px;
  width: 100px;
}
