html{
  background: cyan;
  
  padding: 0%;
  margin: 0%;
}
body{
  margin: 0%;
  padding: 0%;
}
#header{
  text-align: center;
  background: #282828;
  
  margin: .1px black;
  border-radius: 1px;
  box-shadow: .1px 3px #ffffff;
}
#title{
   font-size: 33px;
  
  color: #FFFFFF;
  font-family: 'Brush Script MT' cursive;
}
